.mi-clase{
 margin:0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
 background-color: #dfe0e0;
 color: #5f5e5e;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #068d9f;
    padding: 15 px 30px;
    color: rgb(255, 255, 255);
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px; 
}
.logo img {
    height: 60px;
    width: auto;
    border-radius: 28px;
}

.logo .brand {
  font-size: 24px;
  font-weight: bold;
  color: white; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px; 
  text-transform: uppercase; 
}
.menu a {
  color: white; 
  text-decoration:none;
  padding: 10px; 
}

.menu a:hover {
  color: #ffffff; 
}

.btn-login {
    background-color: #1ea7f6;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}
.btn-login-hover {
    background-color: #16a085;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: white;
  padding: 40px;
  margin: 40px auto;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  align-items: center;
  background-color: #ecf0f1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  width: 90%;
  max-width: 900px;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 45%;
  height: auto;
}

.card .texto {
  padding: 20px;
  flex: 1;
}

.card .texto h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}


.footer {
  background-color: #0195a0;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer .redes {
  margin-top: 10px;
}

.footer .redes a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer .redes a:hover {
  color: #1abc9c;
}

