.mi-clase{
 margin:0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
 background-color: #f4f6f7;
 color: #333;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 15 px 30px;
    color: white;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre logo y texto */
}
.logo img {
    height: 60px;
    width: auto;
    border-radius: 28px;
}
.logo .brand {
  font-size: 24px;
  font-weight: bold;
  color: white; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px; 
  text-transform: uppercase;
}

.menu a {
  color: white; 
  text-decoration:none;
  padding: 10px; 
  margin: 0;
  font-weight:bold;
}

.menu a:hover {
  color: #ffffff; 
}

.btn-login {
    background-color: #1abc9c;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}
.btn-login-hover {
    background-color: #16a085;
}